

/*Clases*/
.titulo{
    text-align: left;
}

.divBotones{
    text-align: center;
}

.divContenido{
    position: relative; /*Activa left*/
    left: 25px; /*posicion*/
    background-color: #1e1e1e;
    border-radius: 12px; /*redondear bordes*/
    padding: 20px;
    width: 290px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: inline-block;
}

.imagen{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

body{
    background-color: black;
}

h1{
    color: white;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5px 1px;
}

p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 35px;
    margin: 8px 6px;
    border-radius: 8px;
    border: none;
}

button:hover{
    border: solid;
    background-color: white;
    color: black;
}



/*
4 puntos de quiebre mas comunes
Dispositivos pequenos 600px ancho width
Dispositivos medianos desde 601px - 1024px
Dispositivos Grandes 1025px - 1440px
Dispositivos Extra Grandes de 1441px en adelante
*/

@media(max-width: 600px){
    .navbar-nav{
        flex-direction: column;
    }
    .card{
        margin: 1rem;
    }
    .card-title{
        font-size: 1.25rem;
    }

    .card-text{
        font-size: 1rem;
    }
}

@media(min-width: 601px) and (max-width: 1024px){
    .navbar-nav{
        flex-direction: row;
    }
    .card{
        margin-bottom: 1.5rem;
    }
    .card-title{
        font-size: 1.5rem;
    }

    .card-text{
        font-size: 1rem;
    }
}

@media(min-width: 1025px) and (max-width: 1440px){
    .container{
        font-size: 1rem;
    }

    .card{
        margin-bottom: 2px;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-text{
        font-size: 1rem;
    }
}

@media(min-width: 1441px){
    .container{
        font-size: 1rem;
    }

    .card{
        margin-bottom: 2px;
    }
    .card-title{
        font-size: 2rem;
    }
    .card-text{
        font-size: 1rem;
    }
    
}